body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER */
.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  color: #2196f3;
  text-decoration: none;
}

.logo span {
  color: #000;
}

.nav {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.nav-link {
  padding: 32px 0;
  display: block;
  font-weight: 500;
  color: #212121;
  text-decoration: none;
}

.current {
  color: #2196f3;
}

.contacts {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

/* HERO */
.hero {
  background-color: #2f303a;
  padding: 200px 0;
  text-align: center;
}

.hero h1 {
  color: #fff;
  font-size: 44px;
  font-weight: 900;
  max-width: 696px;
  margin: 0 auto 30px;
}

.hero button {
  padding: 10px 32px;
  background: #2196f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: 700;
}

/* FEATURES */
.features {
  padding: 94px 0;
}

.features-list {
  display: flex;
  gap: 30px;
}

.features h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

/* WORK */
.work {
  padding-bottom: 94px;
}

.work h2 {
  text-align: center;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  gap: 30px;
}

/* TEAM */
.team {
  background: #f5f4fa;
  padding: 94px 0;
}

.team h2 {
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list li {
  background: #fff;
  text-align: center;
  padding-bottom: 30px;
}

/* FOOTER */
.footer {
  background: #2f303a;
  padding: 60px 0;
  color: #fff;
}

.footer-logo span {
  color: #fff;
}

.footer a {
  color: rgba(255,255,255,0.6);
  display: block;
}
